# {{ ansible_managed }}
<VirtualHost {{ mobyle_servername }}>
	ServerName {{ mobyle_servername }}
	SetEnv http_proxy
	DocumentRoot {{ mobyle_home }}/web/htdocs
	ScriptAlias /cgi-bin/ {{ mobyle_home }}/web/cgi-bin/
	ScriptAlias /cgi-mobyle/ {{ mobyle_home }}/web/cgi-bin/
	ScriptAlias /sitemap.xml {{ mobyle_home }}/web/cgi-bin/sitemap.py
	ErrorLog logs/mobyle_error_log
	CustomLog logs/mobyle_access_log combined
	DirectoryIndex index.html index.xml
	Options FollowSymLinks
	ServerAdmin {{ mobyle_admin }}
	<Directory {{ mobyle_home }}/web>
	    AllowOverride Limit FileInfo
	</Directory>
       <Location />
	        Order deny,allow
	        Allow from all
            #Deny from all
       </Location>
</VirtualHost>


