# {{ ansible_managed }}
<VirtualHost *:80>
	ServerName {{ mobyle_server_name }}
	SetEnv http_proxy
	SetEnv PYTHON_EGG_CACHE {{ mobyle_home }}/web/htdocs/data/
	DocumentRoot {{ mobyle_home }}/web/htdocs
	ScriptAlias /cgi-bin/ {{ mobyle_home }}/web/cgi-bin/
	ScriptAlias /cgi-mobyle/ {{ mobyle_home }}/web/cgi-bin/
	ScriptAlias /sitemap.xml {{ mobyle_home }}/web/cgi-bin/sitemap.py
	ErrorLog logs/mobyle_error_log
	CustomLog logs/mobyle_access_log combined
	DirectoryIndex index.html index.xml
	Options FollowSymLinks
	ServerAdmin {{ mobyle_admin[0] }}
	<Directory {{ mobyle_home }}/web>
	    AllowOverride Limit FileInfo
	</Directory>
       <Location />
	        Order deny,allow
	        Allow from all
            #Deny from all
       </Location>
</VirtualHost>


